.main {
    /*padding: 24px;*/
    font-size: 10px;
}

a {
    color: #FF006E;
    text-decoration: none;
}

.row {
    font-size: 14px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-row {
    display: flex;
    align-items: center;
    /*padding-bottom: 12px;*/
}

.sm-title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

.base-info {
    display: flex;
    justify-content: space-around;
}

.base-info-left {
    width: 100%;
    /*background: red;*/
}

.base-info-right {
    width: 100%;
    /*background: blue;*/
    padding-left: 48px;
}

.base-info-item {
    padding-top: 8px;
}

.skill-item, .intro-item {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.skill-item {
    color: #03A9F4;
    font-weight: bold;
}

.skill .skill-item {
    color: #000;
    font-weight: normal;
}

.intro-item {
    margin-left: 24px;
}

.point, .point-square {
    background: #000;
    width: 4px;
    height: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

.point-square {
    border-radius: 50%;
}

.point-square {
}